<form class="urop-sheet item-sheet" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="80" width="80"/>
    <div class="header-main">
      <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'URoP.Item.Name'}}"/>
      <div class="type-chip">{{itemTypeLabel}}</div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="details">{{localize "URoP.Tab.Details"}}</a>
    <a class="item" data-tab="effects">{{localize "URoP.Tab.Effects"}}</a>
    <a class="item" data-tab="notes">{{localize "URoP.Tab.Internal"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="details">
      <div class="grid two-col">
        <div class="card">
          {{#if isGear}}
          <label>Tier</label>
          <input type="text" name="system.tier" value="{{item.system.tier}}"/>
          <label>Preis</label>
          <input type="number" name="system.price" value="{{item.system.price}}"/>
          {{/if}}

          {{#if isConsumable}}
          <label>Tier</label>
          <input type="text" name="system.tier" value="{{item.system.tier}}"/>
          <label>Preis</label>
          <input type="number" name="system.price" value="{{item.system.price}}"/>
          <label>Menge</label>
          <input type="number" name="system.quantity" value="{{item.system.quantity}}"/>
          <label>Einsätze</label>
          <input type="number" name="system.uses" value="{{item.system.uses}}"/>
          {{/if}}

          {{#if isManeuver}}
          <label>Tier</label>
          <input type="text" name="system.tier" value="{{item.system.tier}}"/>
          <label>Lernkosten EP</label>
          <input type="number" name="system.learnCostEp" value="{{item.system.learnCostEp}}"/>
          <label>Aktionskosten</label>
          <input type="text" name="system.actionCost" value="{{item.system.actionCost}}"/>
          <label>Einsatzfenster</label>
          <input type="text" name="system.usageWindow" value="{{item.system.usageWindow}}"/>
          <label>Wiederholungs-Eskalation</label>
          <input type="text" name="system.reuseEscalation" value="{{item.system.reuseEscalation}}"/>
          {{/if}}

          {{#if isSkill}}
          <label>Stufe</label>
          <input type="number" name="system.level" value="{{item.system.level}}"/>
          <label>Fertigkeitsebene</label>
          <select name="system.type">
            <option value="broad" {{#if (uropEq item.system.type "broad")}}selected{{/if}}>Sammelfertigkeit</option>
            <option value="standard" {{#if (uropEq item.system.type "standard")}}selected{{/if}}>Standardfertigkeit</option>
            <option value="specialization" {{#if (uropEq item.system.type "specialization")}}selected{{/if}}>Spezialisierung</option>
          </select>
          <label>Anwendungsklasse</label>
          <select name="system.applicationClass">
            <option value="combat" {{#if (uropEq item.system.applicationClass "combat")}}selected{{/if}}>Kampffertigkeit</option>
            <option value="action" {{#if (uropEq item.system.applicationClass "action")}}selected{{/if}}>Aktionsfertigkeit</option>
            <option value="fluff" {{#if (uropEq item.system.applicationClass "fluff")}}selected{{/if}}>Flufffertigkeit</option>
          </select>
          <label>Lernkosten EP</label>
          <input type="number" name="system.learnCostEp" value="{{item.system.learnCostEp}}"/>
          <label>Konsequenzdomäne</label>
          <input type="text" name="system.skillDomain" value="{{item.system.skillDomain}}"/>
          {{/if}}
        </div>
        <div class="card">
          {{#if isWeapon}}
          <label>Wirkungsbasis</label>
          <input type="number" name="system.damageBaseline" value="{{item.system.damageBaseline}}"/>
          <label>Gebaut für Größenstufe</label>
          <select name="system.designedForSizeClass">
            <option value="G0" {{#if (uropEq item.system.designedForSizeClass "G0")}}selected{{/if}}>G0</option>
            <option value="G1" {{#if (uropEq item.system.designedForSizeClass "G1")}}selected{{/if}}>G1</option>
            <option value="G2" {{#if (uropEq item.system.designedForSizeClass "G2")}}selected{{/if}}>G2</option>
            <option value="G3" {{#if (uropEq item.system.designedForSizeClass "G3")}}selected{{/if}}>G3</option>
            <option value="G4" {{#if (uropEq item.system.designedForSizeClass "G4")}}selected{{/if}}>G4</option>
            <option value="G5" {{#if (uropEq item.system.designedForSizeClass "G5")}}selected{{/if}}>G5</option>
            <option value="G6" {{#if (uropEq item.system.designedForSizeClass "G6")}}selected{{/if}}>G6</option>
            <option value="G7" {{#if (uropEq item.system.designedForSizeClass "G7")}}selected{{/if}}>G7</option>
            <option value="G8" {{#if (uropEq item.system.designedForSizeClass "G8")}}selected{{/if}}>G8</option>
            <option value="G9" {{#if (uropEq item.system.designedForSizeClass "G9")}}selected{{/if}}>G9</option>
          </select>
          <label>Wirksam gegen Größenstufe</label>
          <select name="system.effectiveAgainstClass">
            <option value="G0" {{#if (uropEq item.system.effectiveAgainstClass "G0")}}selected{{/if}}>G0</option>
            <option value="G1" {{#if (uropEq item.system.effectiveAgainstClass "G1")}}selected{{/if}}>G1</option>
            <option value="G2" {{#if (uropEq item.system.effectiveAgainstClass "G2")}}selected{{/if}}>G2</option>
            <option value="G3" {{#if (uropEq item.system.effectiveAgainstClass "G3")}}selected{{/if}}>G3</option>
            <option value="G4" {{#if (uropEq item.system.effectiveAgainstClass "G4")}}selected{{/if}}>G4</option>
            <option value="G5" {{#if (uropEq item.system.effectiveAgainstClass "G5")}}selected{{/if}}>G5</option>
            <option value="G6" {{#if (uropEq item.system.effectiveAgainstClass "G6")}}selected{{/if}}>G6</option>
            <option value="G7" {{#if (uropEq item.system.effectiveAgainstClass "G7")}}selected{{/if}}>G7</option>
            <option value="G8" {{#if (uropEq item.system.effectiveAgainstClass "G8")}}selected{{/if}}>G8</option>
            <option value="G9" {{#if (uropEq item.system.effectiveAgainstClass "G9")}}selected{{/if}}>G9</option>
            <option value="vehicle" {{#if (uropEq item.system.effectiveAgainstClass "vehicle")}}selected{{/if}}>vehicle</option>
          </select>
          <label>Reichweite Nah (m)</label>
          <input type="number" name="system.rangeBands.nah" value="{{item.system.rangeBands.nah}}" step="1"/>
          <label>Reichweite Mittel (m)</label>
          <input type="number" name="system.rangeBands.mittel" value="{{item.system.rangeBands.mittel}}" step="1"/>
          <label>Reichweite Weit (m)</label>
          <input type="number" name="system.rangeBands.weit" value="{{item.system.rangeBands.weit}}" step="1"/>
          <label>Reichweite Extrem (m)</label>
          <input type="number" name="system.rangeBands.extrem" value="{{item.system.rangeBands.extrem}}" step="1"/>
          <label>Qualität</label>
          <input type="text" name="system.quality" value="{{item.system.quality}}"/>
          {{/if}}

          {{#if isArmor}}
          <label>Schutzwert</label>
          <input type="number" name="system.protectionValue" value="{{item.system.protectionValue}}"/>
          <label>Nominale Nutzergröße</label>
          <select name="system.userSizeNominal">
            <option value="G0" {{#if (uropEq item.system.userSizeNominal "G0")}}selected{{/if}}>G0</option>
            <option value="G1" {{#if (uropEq item.system.userSizeNominal "G1")}}selected{{/if}}>G1</option>
            <option value="G2" {{#if (uropEq item.system.userSizeNominal "G2")}}selected{{/if}}>G2</option>
            <option value="G3" {{#if (uropEq item.system.userSizeNominal "G3")}}selected{{/if}}>G3</option>
            <option value="G4" {{#if (uropEq item.system.userSizeNominal "G4")}}selected{{/if}}>G4</option>
            <option value="G5" {{#if (uropEq item.system.userSizeNominal "G5")}}selected{{/if}}>G5</option>
            <option value="G6" {{#if (uropEq item.system.userSizeNominal "G6")}}selected{{/if}}>G6</option>
            <option value="G7" {{#if (uropEq item.system.userSizeNominal "G7")}}selected{{/if}}>G7</option>
            <option value="G8" {{#if (uropEq item.system.userSizeNominal "G8")}}selected{{/if}}>G8</option>
            <option value="G9" {{#if (uropEq item.system.userSizeNominal "G9")}}selected{{/if}}>G9</option>
          </select>
          <label>Qualität</label>
          <input type="text" name="system.quality" value="{{item.system.quality}}"/>
          {{/if}}

          {{#if isSkill}}
          <label>Regelanker 1</label>
          <select name="system.ruleAnchors.0" required>
            <option value="koerper" {{#if (uropEq item.system.ruleAnchors.[0] "koerper")}}selected{{/if}}>Körper</option>
            <option value="geist" {{#if (uropEq item.system.ruleAnchors.[0] "geist")}}selected{{/if}}>Geist</option>
            <option value="praesenz" {{#if (uropEq item.system.ruleAnchors.[0] "praesenz")}}selected{{/if}}>Präsenz</option>
            <option value="staerke" {{#if (uropEq item.system.ruleAnchors.[0] "staerke")}}selected{{/if}}>Stärke</option>
            <option value="grobmotorik" {{#if (uropEq item.system.ruleAnchors.[0] "grobmotorik")}}selected{{/if}}>Grobmotorik</option>
            <option value="feinmotorik" {{#if (uropEq item.system.ruleAnchors.[0] "feinmotorik")}}selected{{/if}}>Feinmotorik</option>
            <option value="konstitution" {{#if (uropEq item.system.ruleAnchors.[0] "konstitution")}}selected{{/if}}>Konstitution</option>
            <option value="analyse" {{#if (uropEq item.system.ruleAnchors.[0] "analyse")}}selected{{/if}}>Analyse</option>
            <option value="willenskraft" {{#if (uropEq item.system.ruleAnchors.[0] "willenskraft")}}selected{{/if}}>Willenskraft</option>
            <option value="aufmerksamkeit" {{#if (uropEq item.system.ruleAnchors.[0] "aufmerksamkeit")}}selected{{/if}}>Aufmerksamkeit</option>
            <option value="intuition" {{#if (uropEq item.system.ruleAnchors.[0] "intuition")}}selected{{/if}}>Intuition</option>
            <option value="ausdruck" {{#if (uropEq item.system.ruleAnchors.[0] "ausdruck")}}selected{{/if}}>Ausdruck</option>
            <option value="empathie" {{#if (uropEq item.system.ruleAnchors.[0] "empathie")}}selected{{/if}}>Empathie</option>
            <option value="dominanz" {{#if (uropEq item.system.ruleAnchors.[0] "dominanz")}}selected{{/if}}>Dominanz</option>
            <option value="resonanz" {{#if (uropEq item.system.ruleAnchors.[0] "resonanz")}}selected{{/if}}>Resonanz</option>
          </select>
          <label>Regelanker 2</label>
          <select name="system.ruleAnchors.1">
            <option value="" {{#if (uropEq item.system.ruleAnchors.[1] "")}}selected{{/if}}>-</option>
            <option value="koerper" {{#if (uropEq item.system.ruleAnchors.[1] "koerper")}}selected{{/if}}>Körper</option>
            <option value="geist" {{#if (uropEq item.system.ruleAnchors.[1] "geist")}}selected{{/if}}>Geist</option>
            <option value="praesenz" {{#if (uropEq item.system.ruleAnchors.[1] "praesenz")}}selected{{/if}}>Präsenz</option>
            <option value="staerke" {{#if (uropEq item.system.ruleAnchors.[1] "staerke")}}selected{{/if}}>Stärke</option>
            <option value="grobmotorik" {{#if (uropEq item.system.ruleAnchors.[1] "grobmotorik")}}selected{{/if}}>Grobmotorik</option>
            <option value="feinmotorik" {{#if (uropEq item.system.ruleAnchors.[1] "feinmotorik")}}selected{{/if}}>Feinmotorik</option>
            <option value="konstitution" {{#if (uropEq item.system.ruleAnchors.[1] "konstitution")}}selected{{/if}}>Konstitution</option>
            <option value="analyse" {{#if (uropEq item.system.ruleAnchors.[1] "analyse")}}selected{{/if}}>Analyse</option>
            <option value="willenskraft" {{#if (uropEq item.system.ruleAnchors.[1] "willenskraft")}}selected{{/if}}>Willenskraft</option>
            <option value="aufmerksamkeit" {{#if (uropEq item.system.ruleAnchors.[1] "aufmerksamkeit")}}selected{{/if}}>Aufmerksamkeit</option>
            <option value="intuition" {{#if (uropEq item.system.ruleAnchors.[1] "intuition")}}selected{{/if}}>Intuition</option>
            <option value="ausdruck" {{#if (uropEq item.system.ruleAnchors.[1] "ausdruck")}}selected{{/if}}>Ausdruck</option>
            <option value="empathie" {{#if (uropEq item.system.ruleAnchors.[1] "empathie")}}selected{{/if}}>Empathie</option>
            <option value="dominanz" {{#if (uropEq item.system.ruleAnchors.[1] "dominanz")}}selected{{/if}}>Dominanz</option>
            <option value="resonanz" {{#if (uropEq item.system.ruleAnchors.[1] "resonanz")}}selected{{/if}}>Resonanz</option>
          </select>
          <label>Regelanker 3</label>
          <select name="system.ruleAnchors.2">
            <option value="" {{#if (uropEq item.system.ruleAnchors.[2] "")}}selected{{/if}}>-</option>
            <option value="koerper" {{#if (uropEq item.system.ruleAnchors.[2] "koerper")}}selected{{/if}}>Körper</option>
            <option value="geist" {{#if (uropEq item.system.ruleAnchors.[2] "geist")}}selected{{/if}}>Geist</option>
            <option value="praesenz" {{#if (uropEq item.system.ruleAnchors.[2] "praesenz")}}selected{{/if}}>Präsenz</option>
            <option value="staerke" {{#if (uropEq item.system.ruleAnchors.[2] "staerke")}}selected{{/if}}>Stärke</option>
            <option value="grobmotorik" {{#if (uropEq item.system.ruleAnchors.[2] "grobmotorik")}}selected{{/if}}>Grobmotorik</option>
            <option value="feinmotorik" {{#if (uropEq item.system.ruleAnchors.[2] "feinmotorik")}}selected{{/if}}>Feinmotorik</option>
            <option value="konstitution" {{#if (uropEq item.system.ruleAnchors.[2] "konstitution")}}selected{{/if}}>Konstitution</option>
            <option value="analyse" {{#if (uropEq item.system.ruleAnchors.[2] "analyse")}}selected{{/if}}>Analyse</option>
            <option value="willenskraft" {{#if (uropEq item.system.ruleAnchors.[2] "willenskraft")}}selected{{/if}}>Willenskraft</option>
            <option value="aufmerksamkeit" {{#if (uropEq item.system.ruleAnchors.[2] "aufmerksamkeit")}}selected{{/if}}>Aufmerksamkeit</option>
            <option value="intuition" {{#if (uropEq item.system.ruleAnchors.[2] "intuition")}}selected{{/if}}>Intuition</option>
            <option value="ausdruck" {{#if (uropEq item.system.ruleAnchors.[2] "ausdruck")}}selected{{/if}}>Ausdruck</option>
            <option value="empathie" {{#if (uropEq item.system.ruleAnchors.[2] "empathie")}}selected{{/if}}>Empathie</option>
            <option value="dominanz" {{#if (uropEq item.system.ruleAnchors.[2] "dominanz")}}selected{{/if}}>Dominanz</option>
            <option value="resonanz" {{#if (uropEq item.system.ruleAnchors.[2] "resonanz")}}selected{{/if}}>Resonanz</option>
          </select>
          <label>Voraussetzungen (Freitext)</label>
          <textarea name="system.prerequisitesText">{{item.system.prerequisitesText}}</textarea>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="effects">
      <div class="card">
        <label>Kurztext</label>
        <textarea name="system.rulesShort">{{item.system.rulesShort}}</textarea>
        <label>Beschreibung</label>
        <textarea class="large" name="system.description">{{item.system.description}}</textarea>
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="notes">
      <div class="card">
        <label>{{localize "URoP.Field.InternalNote"}}</label>
        <textarea class="large" name="system.notes">{{item.system.notes}}</textarea>
      </div>
    </div>
  </section>
</form>
