<form class="urop-sheet item-sheet" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="80" width="80"/>
    <div class="header-main">
      <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'URoP.Item.Name'}}"/>
      <div class="type-chip">{{itemTypeLabel}}</div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="effects">{{localize "URoP.Tab.Description"}}</a>
    <a class="item" data-tab="details">{{localize "URoP.Tab.Details"}}</a>
    <a class="item" data-tab="notes">{{localize "URoP.Tab.Internal"}}</a>
  </nav>

  <section class="sheet-body">

    <div class="tab" data-group="primary" data-tab="details">
      <div class="grid two-col">
        <div class="card">
          <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.SkillLevel'}}">Stufe</label>
          <div class="facet-stepper skill-level-stepper">
            <button type="button" class="stepper-btn" data-action="skill-level-decrement">−</button>
            <input type="number" class="facet-value skill-level-input" name="system.level" value="{{item.system.level}}" readonly/>
            <button type="button" class="stepper-btn" data-action="skill-level-increment">+</button>
            <button type="button" class="lock-btn skill-level-lock" data-action="toggle-skill-level-lock" title="Stufe sperren/entsperren">🔒</button>
          </div>
          <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.SkillType'}}">Fertigkeitsebene</label>
          <select name="system.type">
            <option value="broad" {{#if (uropEq item.system.type "broad")}}selected{{/if}}>Sammelfertigkeit</option>
            <option value="standard" {{#if (uropEq item.system.type "standard")}}selected{{/if}}>Standardfertigkeit</option>
            <option value="specialization" {{#if (uropEq item.system.type "specialization")}}selected{{/if}}>Spezialisierung</option>
          </select>
          <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.ApplicationClass'}}">Anwendungsklasse</label>
          <select name="system.applicationClass">
            <option value="combat" {{#if (uropEq item.system.applicationClass "combat")}}selected{{/if}}>Kampffertigkeit</option>
            <option value="action" {{#if (uropEq item.system.applicationClass "action")}}selected{{/if}}>Aktionsfertigkeit</option>
            <option value="fluff" {{#if (uropEq item.system.applicationClass "fluff")}}selected{{/if}}>Flufffertigkeit</option>
          </select>
          <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.LearnCostEp'}}">Lernkosten EP</label>
          <input type="number" name="system.learnCostEp" value="{{item.system.learnCostEp}}"/>
        </div>
        <div class="card">
          <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.RuleAnchor1'}}">Regelanker 1</label>
          <select name="system.ruleAnchors.0" required>
            <option value="koerper" {{#if (uropEq item.system.ruleAnchors.[0] "koerper")}}selected{{/if}}>Körper</option>
            <option value="geist" {{#if (uropEq item.system.ruleAnchors.[0] "geist")}}selected{{/if}}>Geist</option>
            <option value="praesenz" {{#if (uropEq item.system.ruleAnchors.[0] "praesenz")}}selected{{/if}}>Präsenz</option>
            <option value="staerke" {{#if (uropEq item.system.ruleAnchors.[0] "staerke")}}selected{{/if}}>Stärke</option>
            <option value="grobmotorik" {{#if (uropEq item.system.ruleAnchors.[0] "grobmotorik")}}selected{{/if}}>Grobmotorik</option>
            <option value="feinmotorik" {{#if (uropEq item.system.ruleAnchors.[0] "feinmotorik")}}selected{{/if}}>Feinmotorik</option>
            <option value="konstitution" {{#if (uropEq item.system.ruleAnchors.[0] "konstitution")}}selected{{/if}}>Konstitution</option>
            <option value="analyse" {{#if (uropEq item.system.ruleAnchors.[0] "analyse")}}selected{{/if}}>Analyse</option>
            <option value="willenskraft" {{#if (uropEq item.system.ruleAnchors.[0] "willenskraft")}}selected{{/if}}>Willenskraft</option>
            <option value="aufmerksamkeit" {{#if (uropEq item.system.ruleAnchors.[0] "aufmerksamkeit")}}selected{{/if}}>Aufmerksamkeit</option>
            <option value="intuition" {{#if (uropEq item.system.ruleAnchors.[0] "intuition")}}selected{{/if}}>Intuition</option>
            <option value="ausdruck" {{#if (uropEq item.system.ruleAnchors.[0] "ausdruck")}}selected{{/if}}>Ausdruck</option>
            <option value="empathie" {{#if (uropEq item.system.ruleAnchors.[0] "empathie")}}selected{{/if}}>Empathie</option>
            <option value="dominanz" {{#if (uropEq item.system.ruleAnchors.[0] "dominanz")}}selected{{/if}}>Dominanz</option>
            <option value="resonanz" {{#if (uropEq item.system.ruleAnchors.[0] "resonanz")}}selected{{/if}}>Resonanz</option>
          </select>
          <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.RuleAnchor2'}}">Regelanker 2</label>
          <select name="system.ruleAnchors.1">
            <option value="" {{#if (uropEq item.system.ruleAnchors.[1] "")}}selected{{/if}}>-</option>
            <option value="koerper" {{#if (uropEq item.system.ruleAnchors.[1] "koerper")}}selected{{/if}}>Körper</option>
            <option value="geist" {{#if (uropEq item.system.ruleAnchors.[1] "geist")}}selected{{/if}}>Geist</option>
            <option value="praesenz" {{#if (uropEq item.system.ruleAnchors.[1] "praesenz")}}selected{{/if}}>Präsenz</option>
            <option value="staerke" {{#if (uropEq item.system.ruleAnchors.[1] "staerke")}}selected{{/if}}>Stärke</option>
            <option value="grobmotorik" {{#if (uropEq item.system.ruleAnchors.[1] "grobmotorik")}}selected{{/if}}>Grobmotorik</option>
            <option value="feinmotorik" {{#if (uropEq item.system.ruleAnchors.[1] "feinmotorik")}}selected{{/if}}>Feinmotorik</option>
            <option value="konstitution" {{#if (uropEq item.system.ruleAnchors.[1] "konstitution")}}selected{{/if}}>Konstitution</option>
            <option value="analyse" {{#if (uropEq item.system.ruleAnchors.[1] "analyse")}}selected{{/if}}>Analyse</option>
            <option value="willenskraft" {{#if (uropEq item.system.ruleAnchors.[1] "willenskraft")}}selected{{/if}}>Willenskraft</option>
            <option value="aufmerksamkeit" {{#if (uropEq item.system.ruleAnchors.[1] "aufmerksamkeit")}}selected{{/if}}>Aufmerksamkeit</option>
            <option value="intuition" {{#if (uropEq item.system.ruleAnchors.[1] "intuition")}}selected{{/if}}>Intuition</option>
            <option value="ausdruck" {{#if (uropEq item.system.ruleAnchors.[1] "ausdruck")}}selected{{/if}}>Ausdruck</option>
            <option value="empathie" {{#if (uropEq item.system.ruleAnchors.[1] "empathie")}}selected{{/if}}>Empathie</option>
            <option value="dominanz" {{#if (uropEq item.system.ruleAnchors.[1] "dominanz")}}selected{{/if}}>Dominanz</option>
            <option value="resonanz" {{#if (uropEq item.system.ruleAnchors.[1] "resonanz")}}selected{{/if}}>Resonanz</option>
          </select>
          <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.RuleAnchor3'}}">Regelanker 3</label>
          <select name="system.ruleAnchors.2">
            <option value="" {{#if (uropEq item.system.ruleAnchors.[2] "")}}selected{{/if}}>-</option>
            <option value="koerper" {{#if (uropEq item.system.ruleAnchors.[2] "koerper")}}selected{{/if}}>Körper</option>
            <option value="geist" {{#if (uropEq item.system.ruleAnchors.[2] "geist")}}selected{{/if}}>Geist</option>
            <option value="praesenz" {{#if (uropEq item.system.ruleAnchors.[2] "praesenz")}}selected{{/if}}>Präsenz</option>
            <option value="staerke" {{#if (uropEq item.system.ruleAnchors.[2] "staerke")}}selected{{/if}}>Stärke</option>
            <option value="grobmotorik" {{#if (uropEq item.system.ruleAnchors.[2] "grobmotorik")}}selected{{/if}}>Grobmotorik</option>
            <option value="feinmotorik" {{#if (uropEq item.system.ruleAnchors.[2] "feinmotorik")}}selected{{/if}}>Feinmotorik</option>
            <option value="konstitution" {{#if (uropEq item.system.ruleAnchors.[2] "konstitution")}}selected{{/if}}>Konstitution</option>
            <option value="analyse" {{#if (uropEq item.system.ruleAnchors.[2] "analyse")}}selected{{/if}}>Analyse</option>
            <option value="willenskraft" {{#if (uropEq item.system.ruleAnchors.[2] "willenskraft")}}selected{{/if}}>Willenskraft</option>
            <option value="aufmerksamkeit" {{#if (uropEq item.system.ruleAnchors.[2] "aufmerksamkeit")}}selected{{/if}}>Aufmerksamkeit</option>
            <option value="intuition" {{#if (uropEq item.system.ruleAnchors.[2] "intuition")}}selected{{/if}}>Intuition</option>
            <option value="ausdruck" {{#if (uropEq item.system.ruleAnchors.[2] "ausdruck")}}selected{{/if}}>Ausdruck</option>
            <option value="empathie" {{#if (uropEq item.system.ruleAnchors.[2] "empathie")}}selected{{/if}}>Empathie</option>
            <option value="dominanz" {{#if (uropEq item.system.ruleAnchors.[2] "dominanz")}}selected{{/if}}>Dominanz</option>
            <option value="resonanz" {{#if (uropEq item.system.ruleAnchors.[2] "resonanz")}}selected{{/if}}>Resonanz</option>
          </select>
          <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.PrerequisitesText'}}">Voraussetzungen (Freitext)</label>
          <textarea name="system.prerequisitesText">{{item.system.prerequisitesText}}</textarea>
        </div>
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="effects">
      <div class="card">
        <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.RulesShort'}}">Kurztext</label>
        <textarea name="system.rulesShort">{{item.system.rulesShort}}</textarea>
        <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.Description'}}">Beschreibung</label>
        <textarea class="large" name="system.description">{{item.system.description}}</textarea>
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="notes">
      <div class="card">
        <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.InternalNote'}}">{{localize "URoP.Field.InternalNote"}}</label>
        <textarea class="large" name="system.notes">{{item.system.notes}}</textarea>
      </div>
    </div>

  </section>
</form>
