<form class="urop-sheet item-sheet" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="80" width="80"/>
    <div class="header-main">
      <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'URoP.Item.Name'}}"/>
      <div class="type-chip">{{itemTypeLabel}}</div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="effects">{{localize "URoP.Tab.Description"}}</a>
    <a class="item" data-tab="details">{{localize "URoP.Tab.Details"}}</a>
    <a class="item" data-tab="notes">{{localize "URoP.Tab.Internal"}}</a>
  </nav>

  <section class="sheet-body">

    <div class="tab" data-group="primary" data-tab="details">
      <div class="grid two-col">
        <div class="card">
          <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.DamageBaseline'}}">Wirkungsbasis</label>
          <input type="number" name="system.damageBaseline" value="{{item.system.damageBaseline}}"/>
          <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.DamageType'}}">Schadensart</label>
          <select name="system.damageType">
            <option value="" {{#if (uropEq item.system.damageType "")}}selected{{/if}}>-</option>
            <option value="kinetic" {{#if (uropEq item.system.damageType "kinetic")}}selected{{/if}}>{{localize "URoP.DamageType.Kinetic"}}</option>
            <option value="blunt" {{#if (uropEq item.system.damageType "blunt")}}selected{{/if}}>{{localize "URoP.DamageType.Blunt"}}</option>
            <option value="piercing" {{#if (uropEq item.system.damageType "piercing")}}selected{{/if}}>{{localize "URoP.DamageType.Piercing"}}</option>
            <option value="slashing" {{#if (uropEq item.system.damageType "slashing")}}selected{{/if}}>{{localize "URoP.DamageType.Slashing"}}</option>
            <option value="fire" {{#if (uropEq item.system.damageType "fire")}}selected{{/if}}>{{localize "URoP.DamageType.Fire"}}</option>
            <option value="electricity" {{#if (uropEq item.system.damageType "electricity")}}selected{{/if}}>{{localize "URoP.DamageType.Electricity"}}</option>
            <option value="cold" {{#if (uropEq item.system.damageType "cold")}}selected{{/if}}>{{localize "URoP.DamageType.Cold"}}</option>
            <option value="acid" {{#if (uropEq item.system.damageType "acid")}}selected{{/if}}>{{localize "URoP.DamageType.Acid"}}</option>
            <option value="poison" {{#if (uropEq item.system.damageType "poison")}}selected{{/if}}>{{localize "URoP.DamageType.Poison"}}</option>
            <option value="arcane" {{#if (uropEq item.system.damageType "arcane")}}selected{{/if}}>{{localize "URoP.DamageType.Arcane"}}</option>
            <option value="stun_body" {{#if (uropEq item.system.damageType "stun_body")}}selected{{/if}}>{{localize "URoP.DamageType.StunBody"}}</option>
            <option value="stun_mind" {{#if (uropEq item.system.damageType "stun_mind")}}selected{{/if}}>{{localize "URoP.DamageType.StunMind"}}</option>
            <option value="psychic" {{#if (uropEq item.system.damageType "psychic")}}selected{{/if}}>{{localize "URoP.DamageType.Psychic"}}</option>
            <option value="radiation" {{#if (uropEq item.system.damageType "radiation")}}selected{{/if}}>{{localize "URoP.DamageType.Radiation"}}</option>
            <option value="holy" {{#if (uropEq item.system.damageType "holy")}}selected{{/if}}>{{localize "URoP.DamageType.Holy"}}</option>
            <option value="necrotic" {{#if (uropEq item.system.damageType "necrotic")}}selected{{/if}}>{{localize "URoP.DamageType.Necrotic"}}</option>
            <option value="energy" {{#if (uropEq item.system.damageType "energy")}}selected{{/if}}>{{localize "URoP.DamageType.Energy"}}</option>
            <option value="other" {{#if (uropEq item.system.damageType "other")}}selected{{/if}}>{{localize "URoP.DamageType.Other"}}</option>
          </select>
          <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.InitiativeModifier'}}">Initiative-Modifikator</label>
          <input type="number" name="system.initiativeModifier" value="{{item.system.initiativeModifier}}" step="1"/>
          <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.DesignedForSizeClass'}}">Gebaut für Größenstufe</label>
          <select name="system.designedForSizeClass">
            <option value="G0" {{#if (uropEq item.system.designedForSizeClass "G0")}}selected{{/if}}>G0</option>
            <option value="G1" {{#if (uropEq item.system.designedForSizeClass "G1")}}selected{{/if}}>G1</option>
            <option value="G2" {{#if (uropEq item.system.designedForSizeClass "G2")}}selected{{/if}}>G2</option>
            <option value="G3" {{#if (uropEq item.system.designedForSizeClass "G3")}}selected{{/if}}>G3</option>
            <option value="G4" {{#if (uropEq item.system.designedForSizeClass "G4")}}selected{{/if}}>G4</option>
            <option value="G5" {{#if (uropEq item.system.designedForSizeClass "G5")}}selected{{/if}}>G5</option>
            <option value="G6" {{#if (uropEq item.system.designedForSizeClass "G6")}}selected{{/if}}>G6</option>
            <option value="G7" {{#if (uropEq item.system.designedForSizeClass "G7")}}selected{{/if}}>G7</option>
            <option value="G8" {{#if (uropEq item.system.designedForSizeClass "G8")}}selected{{/if}}>G8</option>
            <option value="G9" {{#if (uropEq item.system.designedForSizeClass "G9")}}selected{{/if}}>G9</option>
          </select>
          <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.EffectiveAgainstClass'}}">Wirksam gegen Größenstufe</label>
          <select name="system.effectiveAgainstClass">
            <option value="G0" {{#if (uropEq item.system.effectiveAgainstClass "G0")}}selected{{/if}}>G0</option>
            <option value="G1" {{#if (uropEq item.system.effectiveAgainstClass "G1")}}selected{{/if}}>G1</option>
            <option value="G2" {{#if (uropEq item.system.effectiveAgainstClass "G2")}}selected{{/if}}>G2</option>
            <option value="G3" {{#if (uropEq item.system.effectiveAgainstClass "G3")}}selected{{/if}}>G3</option>
            <option value="G4" {{#if (uropEq item.system.effectiveAgainstClass "G4")}}selected{{/if}}>G4</option>
            <option value="G5" {{#if (uropEq item.system.effectiveAgainstClass "G5")}}selected{{/if}}>G5</option>
            <option value="G6" {{#if (uropEq item.system.effectiveAgainstClass "G6")}}selected{{/if}}>G6</option>
            <option value="G7" {{#if (uropEq item.system.effectiveAgainstClass "G7")}}selected{{/if}}>G7</option>
            <option value="G8" {{#if (uropEq item.system.effectiveAgainstClass "G8")}}selected{{/if}}>G8</option>
            <option value="G9" {{#if (uropEq item.system.effectiveAgainstClass "G9")}}selected{{/if}}>G9</option>
            <option value="vehicle" {{#if (uropEq item.system.effectiveAgainstClass "vehicle")}}selected{{/if}}>Fahrzeug</option>
          </select>
        </div>
        <div class="card">
          <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.RangeNear'}}">Reichweite Nah (m)</label>
          <input type="number" name="system.rangeBands.nah" value="{{item.system.rangeBands.nah}}" step="1"/>
          <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.RangeMid'}}">Reichweite Mittel (m)</label>
          <input type="number" name="system.rangeBands.mittel" value="{{item.system.rangeBands.mittel}}" step="1"/>
          <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.RangeFar'}}">Reichweite Weit (m)</label>
          <input type="number" name="system.rangeBands.weit" value="{{item.system.rangeBands.weit}}" step="1"/>
          <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.RangeExtreme'}}">Reichweite Extrem (m)</label>
          <input type="number" name="system.rangeBands.extrem" value="{{item.system.rangeBands.extrem}}" step="1"/>
          <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.Quality'}}">Qualität</label>
          <input type="text" name="system.quality" value="{{item.system.quality}}"/>
        </div>
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="effects">
      <div class="card">
        <div class="sheet-hint">
          <h4>{{localize "URoP.ItemHelp.WeaponAuthoringHintTitle"}}</h4>
          <p>{{localize "URoP.ItemHelp.WeaponAuthoringHintBody"}}</p>
        </div>
        <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.RulesShort'}}">Kurztext</label>
        <textarea name="system.rulesShort">{{item.system.rulesShort}}</textarea>
        <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.PrerequisitesText'}}">Voraussetzungen</label>
        <textarea name="system.prerequisitesText">{{item.system.prerequisitesText}}</textarea>
        <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.Description'}}">Beschreibung</label>
        <textarea class="large" name="system.description">{{item.system.description}}</textarea>
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="notes">
      <div class="card">
        <label class="hover-help" data-help="{{localize 'URoP.ItemHelp.InternalNote'}}">{{localize "URoP.Field.InternalNote"}}</label>
        <textarea class="large" name="system.notes">{{item.system.notes}}</textarea>
      </div>
    </div>

  </section>
</form>
